
body {
  font-family: 'Unity', 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
}

/* NAVIGACIA */
.navbar-brand {
  margin-top: 20px;
}
.logo {
  position: relative;
  width: 80px;
  max-width: 100%;
  z-index: 2;
}
.navbar {
  max-height: 80px;
}
.nav-christmas {
  position: absolute;
    width: 10%;
  left: 44%;
  top: 20%;
  z-index: 2;
}
.nav-christmas-lights {
  position: absolute;
  /* width: 20%; */
  left: 0;
  top: 70%;
  z-index: 1;
}
nav a.nav-link {
  padding: 0;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 800;
  height: 27px;
}
nav a.nav-link:hover {
    
  border-bottom: 3px solid red;
  height: 27px;
}
nav a.nav-link:hover {
    color: red !important;
}
nav i {
    width: 40px;
}

.banner-sec {
    background-color: #e7222c;
   height: 260px;
   padding-top: 20px;
}
.banner-sec p {
  margin-left: 8%;
  margin-bottom: 0;
  color: white;
  font-size: 50px;
}
.banner-sec p:nth-child(1) {
  font-weight: bold;
  font-size: 50px;
}
.banner-sec p:nth-child(2) {
    font-size: 30px;
  }
  
/* END NAVIGACIA */

/* BANNER */

.banner-01 {
  margin-top: 50px;
  width: 100%;
}
.hide {
  display: none;
}



/* FOOTER */

.bg-dark {
    background-color: #1d1e1f !important;
}

/* ARTICLES */

article {
    position: relative
}