.red {
    position: absolute;
    animation: circling-red 1.2s ease infinite;
    animation-delay: .3s;
    width: 5px;
    height: 5px;
    border-radius: 10px;
}
.green {
    position: absolute;
    animation: circling-green 1.4s ease infinite;
    animation-delay: .2s;
    width: 5px;
    height: 5px;
    border-radius: 10px;
}
.yellow {
    position: absolute;
    width: 5px;
    height: 5px; 
    border-radius: 10px;
    animation: circling-yellow 1.9s ease infinite;
}
/* RED */
.lighting span:nth-of-type(1) {
    left: 116px;
    top: 107px;
}
.lighting span:nth-of-type(2) {
    left: 207px;
    top: 89px;
}
.lighting span:nth-of-type(3) {
    left: 340px;
    top: 89px;
}
.lighting span:nth-of-type(4) {
    left: 518px;
    top: 89px;
}
.lighting span:nth-of-type(5) {
    left: 605px;
    top: 107px;
}
.lighting span:nth-of-type(6) {
    left: 650px;
    top: 89px;
}
.lighting span:nth-of-type(7) {
    left: 829px;
    top: 89px;
}
.lighting span:nth-of-type(8) {
    left: 916px;
    top: 107px;
}
.lighting span:nth-of-type(9) {
    left: 1227px;
    top: 107px;
}
.lighting span:nth-of-type(10) {
    left: 1451px;
    top: 89px;
}
.lighting span:nth-of-type(11) {
    left: 1538px;
    top: 107px;
}
.lighting span:nth-of-type(12) {
    left: 1583px;
    top: 89px;
}
.lighting span:nth-of-type(13) {
    left: 1761px;
    top: 89px;
}
.lighting span:nth-of-type(14) {
    left: 1850px;
    top: 107px;
}

/* GREEN */
.lighting span:nth-of-type(15) {
    left: 134px;
    top: 90px;
    
}
.lighting span:nth-of-type(16) {
    left: 224px;
   top: 109px;
}
.lighting span:nth-of-type(17) {
    left: 357px;
   top: 109px;
}
.lighting span:nth-of-type(18) {
    left: 535px;
   top: 109px;
}
.lighting span:nth-of-type(19) {
    left: 623px;
   top: 90px;
}
.lighting span:nth-of-type(20) {
    left: 657px;  
    animation: none;
   top: 109px;
}
.lighting span:nth-of-type(21) {
    left: 846px;
   top: 109px;
}
.lighting span:nth-of-type(22) {
    left: 1067px;
   top: 90px;
}
.lighting span:nth-of-type(23) {
    left: 1290px;
   top: 109px;
}
.lighting span:nth-of-type(24) {
    left: 1468px;
   top: 109px;
}
.lighting span:nth-of-type(25) {
    left: 1688px;
   top: 90px;
}
.lighting span:nth-of-type(26) {
    left: 1600px;
   top: 109px;
}
.lighting span:nth-of-type(27) {
    left: 1779px;
   top: 109px;
}
.lighting span:nth-of-type(28) {
    left: 1867px;
   top: 90px;
}

.lighting span:nth-of-type(29) {
    left: 755px;
    top: 90px;
}
.lighting span:nth-of-type(30) {
    left: 1912px;
    top: 109px;
}
/* YELLOW */
.lighting span:nth-of-type(31) {
    left: 173px;
    top: 99px;
}
.lighting span:nth-of-type(32) {
    left: 257px;
    top: 90px;
}
.lighting span:nth-of-type(33) {
    left: 440px;
     top: 90px;

}
.lighting span:nth-of-type(34) {
    left: 567px;
     top: 90px;
}
.lighting span:nth-of-type(35) {
    left: 700px;
    top: 90px;
}
.lighting span:nth-of-type(36) {
    left: 795px;
     top: 99px;
}
.lighting span:nth-of-type(37) {
    left: 880px;
     top: 90px;
}
.lighting span:nth-of-type(38) {
    left: 1011px;
    top: 90px;
}
.lighting span:nth-of-type(39) {
    left: 1189px;
    top: 90px;
}
.lighting span:nth-of-type(40) {
    left: 1418px;
     top: 99px;
}
.lighting span:nth-of-type(41) {
    left: 1501px;
    top: 90px;
}
.lighting span:nth-of-type(42) {
    left: 1633px;
     top: 90px;
}
/* .lighting span:nth-of-type(43) {
    left: 1423px;
     top: 90px;
}
.lighting span:nth-of-type(44) {
    left: 1523px;
     top: 90px;
} */


@keyframes circling-red {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 55, 48, 0.75);
      }
      70% {
          box-shadow: 0 0 0 8px rgba(204,169,44, 0);
      }
      100% {
          box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      }
}

@keyframes circling-green{
    0% {
        box-shadow: 0 0 0 0 rgba(79, 255, 108, 0.75);
      }
      70% {
          box-shadow: 0 0 0 7.2px rgba(204,169,44, 0);
      }
      100% {
          box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      }
}
@keyframes circling-yellow{
    0% {
        box-shadow: 0 0 0 0 rgba(255, 183, 48, 0.75);
      }
      70% {
          box-shadow: 0 0 0 6.5px rgba(204,169,44, 0);
      }
      100% {
          box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      }
}